<html>
    <head>
        <title>Welcome to ansible</title>
    </head>
    <body>
        <h1>nginx/apache, configured by ansible</h1>
        <p>If you can see this, Ansible successfully indtalled nginx/apache.</p>
        <p>{{ ansible_managed }}</p>
    </body>
</html>